
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p>Ski mountain website with ski lift open or closed REST service.
Make lifts 1-12 and make their prop types in model boolean
Take boolean value and produce logic which determines whether to populate return views with green or red for open or closed. Lift index view will be populated with html displaying this.
Views include home page, about and contact from the homecontroller. As well as edit create, and index from the chair controller.
Use HTML helpers where applicable. Use Asynchronous design when modifying or creating values for chairs in model via controller. Also look into either pulling in a service for the weather that will be displayed on the main page or hardcode data in the database for the weather values.
</p>
