<div class="jumbotron">
    <h1>Mountain Operations</h1>
    <p class="lead">Click below to find details on lifts</p>
    <p>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</p>
</div>

